USE [master]
GO
/****** Object:  Database [Globo-HC]    Script Date: 1/26/2024 1:09:34 PM ******/
CREATE DATABASE [Globo-HC]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Globo-HC', FILENAME = N'/var/opt/mssql/data/Globo-HC.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Globo-HC_log', FILENAME = N'/var/opt/mssql/data/Globo-HC_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Globo-HC].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Globo-HC]
GO
/****** Object:  Table [dbo].[Employees]    Script Date: 1/26/2024 1:09:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employees](
	[employee_id] [tinyint] NOT NULL,
	[first_name] [varchar](50) NOT NULL,
	[last_name] [varchar](50) NOT NULL,
	[age] [tinyint] NOT NULL,
	[gender] [varchar](50) NOT NULL,
	[department] [varchar](50) NOT NULL,
	[salary] [int] NOT NULL,
	[username] [varchar](50) NULL,
	[password] [varchar](50) NULL,
 CONSTRAINT [PK_Employees] PRIMARY KEY CLUSTERED 
(
	[employee_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Patients]    Script Date: 1/26/2024 1:09:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Patients](
	[patient_id] [money] NOT NULL,
	[patient_name] [nvarchar](50) NOT NULL,
	[gender] [nvarchar](50) NOT NULL,
	[date_of_birth] [date] NOT NULL,
	[visit_date] [date] NOT NULL,
	[symptoms] [nvarchar](50) NOT NULL,
	[diagnosis] [nvarchar](50) NOT NULL,
	[medication] [nvarchar](50) NOT NULL,
	[dosage] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Patients] PRIMARY KEY CLUSTERED 
(
	[patient_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
